<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41149284653-ospf4g1ud8o8vf5hna3frpuc9covkf26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41149284653-ospf4g1ud8o8vf5hna3frpuc9covkf26</string>
	<key>API_KEY</key>
	<string>AIzaSyBafjUIitHvYf5qLDDfYcXc0_gLWfx-TBo</string>
	<key>GCM_SENDER_ID</key>
	<string>41149284653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naol.chala.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>yatmadf-6f014</string>
	<key>STORAGE_BUCKET</key>
	<string>yatmadf-6f014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41149284653:ios:52b7c2d933b137d76a93a4</string>
</dict>
</plist>